In [288]:
import csv
import pandas as pd

In [289]:
df = pd.read_csv('flydata.csv', sep=';', encoding='windows-1252' )

In [290]:
df.drop(['Indbetalt','Rest','Betalt til klient','Klient rest','betingelser'], axis=1, inplace=True)

In [291]:
df.dropna(subset=['Fly Selskab'],inplace=True)

In [292]:
df['Jnr.'].fillna("NO", inplace=True)
df['Dato for afslutning'].fillna("slet", inplace=True)

In [302]:
df[(df["Dato for afslutning"] == 'slet') & (df["Jnr."] == 'NO')].head()

,Dato for oprettelse,Dato for afslutning,Total,Antal Passagerer,Jnr.,Flynr.,Fly Selskab
1327,28/09/2017 19.13,slet,"1.860,00",1,NO,1483,Air France
1609,05/12/2017 13.01,slet,"3.720,00",2,NO,1790,EasyJet
1694,14/12/2017 18.51,slet,"17.860,00",4,NO,1875,Finnair
1760,21/12/2017 15.35,slet,"1.860,00",1,NO,1982,KLM Royal Dutch Airlines
1902,17/01/2018 21.41,slet,"1.860,00",1,NO,2128,SAS

In [305]:
df1 = df.drop(df[df['Dato for oprettelse'].str.contains('slet')].index)

In [309]:
from datetime import datetime as dt
df['Dato for oprettelse'] = df['Dato for oprettelse'].apply(lambda x: x.split(' ')[0])
df['Dato for oprettelse'] = df['Dato for oprettelse'].apply(lambda x: pd.to_datetime(x).strftime('%d/%m/%Y'))

In [317]:
df['Dato for afslutning'] = df['Dato for afslutning'].apply(lambda x: x.split(' ')[0])
df['Dato for afslutning'] = df['Dato for afslutning'].apply(lambda x: pd.to_datetime(x).strftime('%d/%m/%Y'))

ValueError: ('Unknown string format:', 'slet')